/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #313333;
  background-color: #fff;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

a {
  color: #D66841;
}
@media (hover: hover) {
  a:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  a:active {
    opacity: 0.5;
  }
}

dt {
  font-weight: normal;
}

.br {
  display: inline-block;
}

.noScroll {
  overflow: hidden;
}

.colorRed {
  color: #DA3A24;
}

.maxWidth {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

.sectionTitle {
  margin-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionTitle_main {
  font-size: 3.125rem;
  font-weight: bold;
  letter-spacing: 1.5;
  color: #FBEFEB;
}
.sectionTitle_sub {
  margin-top: -1rem;
  font-weight: bold;
  letter-spacing: 1.5;
  color: #DA3A24;
}

.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(to bottom, #FBEFEB, #fff 20%, transparent);
  z-index: 10;
}
.header.fixed {
  display: block;
}
@media screen and (max-width: 768px) {
  .header {
    display: block;
    background-color: #fff;
  }
}
.header_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .header_inner {
    display: block;
    padding: 10px 0 0;
  }
}
.header_siteTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
}
@media screen and (max-width: 400px) {
  .header_siteTitle {
    height: 30px;
  }
}
.header_hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header_hamburger {
    display: block;
  }
  .header_hamburger_button {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 28px;
    z-index: 15;
  }
}
@media screen and (max-width: 768px) and (max-width: 400px) {
  .header_hamburger_button {
    top: 10px;
    width: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header_hamburger_line {
    display: block;
    background-color: #DA3A24;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
  }
  .header_hamburger_line:nth-child(1) {
    top: 0;
  }
  .header_hamburger_line:nth-child(2) {
    top: 12px;
  }
  .header_hamburger_line:nth-child(3) {
    top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .header_hamburger.open span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
  }
  .header_hamburger.open span:nth-child(2) {
    width: 0;
  }
  .header_hamburger.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
  }
}
.header_nav_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header_nav_item:not(:last-child) {
  margin-right: 50px;
}
.header_nav_item a {
  color: #313333;
}
@media (hover: hover) {
  .header_nav_item a:hover {
    color: #DA3A24;
  }
}
@media (hover: none) {
  .header_nav_item a:active {
    color: #DA3A24;
  }
}
@media screen and (max-width: 768px) {
  .header_nav {
    display: none;
    width: 100%;
    height: 100vh;
  }
  .header_nav_list {
    flex-direction: column;
    justify-content: center;
    padding-top: 20vh;
  }
  .header_nav_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header_nav.open {
    display: block;
  }
}

.footer {
  width: 100%;
  padding: 75px 0 10px;
  background-color: #FBEFEB;
}
.footer .address {
  margin-bottom: 50px;
}
.footer .address_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .address_item {
  width: 50px;
  height: 50px;
}
.footer .address_item:not(:last-child) {
  margin-right: 20px;
}
@media (hover: hover) {
  .footer .address_item .--twitter:hover {
    fill: #1b95e0;
  }
}
@media (hover: none) {
  .footer .address_item .--twitter:active {
    fill: #1b95e0;
  }
}
@media (hover: hover) {
  .footer .address_item .--github:hover {
    fill: #707070;
  }
}
@media (hover: none) {
  .footer .address_item .--github:active {
    fill: #707070;
  }
}
@media (hover: hover) {
  .footer .address_item .--blog:hover {
    fill: #DA3A24;
  }
}
@media (hover: none) {
  .footer .address_item .--blog:active {
    fill: #DA3A24;
  }
}
.footer .pageTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
}
.footer .copyright {
  display: block;
  text-align: center;
  font-size: 0.625rem;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.loading_spinner {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 105;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading_cube1, .loading_cube2 {
  background-color: #D66841;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubeMove 1.8s infinite ease-in-out;
  animation: cubeMove 1.8s infinite ease-in-out;
}
.loading_cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loaded {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

@-webkit-keyframes cubeMove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubeMove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
html,
body,
a,
.cursorNone {
  cursor: none;
}

#cursor {
  transform: translate(0, 0);
  pointer-events: none;
  position: fixed;
  top: -6px;
  left: -6px;
  width: 16px;
  height: 16px;
  background: rgba(218, 58, 36, 0.75);
  border-radius: 50%;
  z-index: 100;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}
#cursor.hov_ {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  background: rgba(218, 58, 36, 0.5);
}

.indexMain_section {
  margin-bottom: 150px;
}

.indexMain_fv {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 400px) {
  .indexMain_fv {
    height: 60vh;
  }
}
.indexMain_fv_inner {
  width: 95%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexMain_fv_content {
  width: 100%;
  height: 60vh;
  position: relative;
}
.indexMain_fv_copy {
  height: 100%;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 400px) {
  .indexMain_fv_copy {
    padding-bottom: 0;
    justify-content: center;
  }
}
.indexMain_fv_copy .--sub {
  color: #D66841;
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 400px) {
  .indexMain_fv_copy .--sub {
    font-size: 1.25rem;
  }
}
.indexMain_fv_copy .--title {
  color: #DA3A24;
  font-size: 3.125rem;
  letter-spacing: 1.25;
}
@media screen and (max-width: 400px) {
  .indexMain_fv_copy .--title {
    font-size: 1.75rem;
  }
}
.indexMain_fv_logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 400px) {
  .indexMain_fv_logo {
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.indexMain_fv_logo svg {
  width: auto;
  height: 60vh;
}
@media screen and (max-width: 400px) {
  .indexMain_fv_logo svg {
    width: 90vw;
    height: auto;
  }
}
.indexMain_fv_logo svg path,
.indexMain_fv_logo svg circle {
  fill: #FBEFEB;
}

.indexMain_about .about_pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .indexMain_about .about_pic {
    display: block;
  }
}
.indexMain_about .about_pic img {
  display: block;
  width: 90%;
  max-width: 450px;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .indexMain_about .about_pic img {
    margin: 0 auto 75px;
  }
}
.indexMain_about .about_discription_title {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.5;
  color: #DA3A24;
  margin-bottom: 50px;
}
.indexMain_about .about_discription_text {
  margin-bottom: 75px;
}
.indexMain_about .about_discription_text p:not(:last-child) {
  margin-bottom: 1rem;
}
.indexMain_about .about_discription_more a {
  display: block;
  width: 320px;
  height: 50px;
  margin: 0 0 0 auto;
  padding-left: 30px;
  background: url(../images/moreLink.svg) no-repeat center bottom/contain;
}